.body,html{
    display: flex;
    flex-flow: column nowrap;
    background-color: #E9EDEB;
}
.mainwrap{
    background-color: #E9EDEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 98%;
    align-self: center;
}
.categorybtnswrap{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.categorybtns{
    width: 15rem;
    height: 20vh;
    max-width: 15rem;
    font-size: 1em;
    margin: 2rem 0;
    max-height: 10rem;
    background-color: #0B3954;
    color: white;
    margin: .5rem;
}



@media(min-width:768px) {
    .mainwrap{
        flex-direction: row;
        height: 87vh;
    }
    .categorybtnswrap{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 10%;
    }
    .categorybtns:hover{
        background-color: #136290;
        cursor: pointer;
        opacity: .9;
    }
}