.body,html{
    display: flex;
    flex-flow: column nowrap;
    background-color: #E9EDEB;
}
.mainwrap{
    background-color: #E9EDEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    align-self: center;
}
.welcomemsg{
    position: static;
    margin-bottom: 0.25rem;
    align-self: center;
    position: fixed;
    left: 50%;

}

.categorybtnswrap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    
}
.categorybtns{
    width: 100%;
    font-size: 1em;
    margin: 2rem 0;
    max-width: 15rem;
    background-color: #0B3954;
    color: white;
    margin: .5rem;
    height: 10vh;
    border-radius: .5rem;
    font-weight: 500;
}
.buttonswrap{
    width: 100%;
    display: flex;
    padding-left: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
h6{
    width: 100%;
    text-indent: 5vw;
    font-size: 1em;
    margin: 0;
}

@media(min-width:768px) {
    .mainwrap {
        background-color: #E9EDEB;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 98%;
        align-self: center;
    }
    .categorybtnswrap{
    flex-flow: row nowrap;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 5%;
    height: 100%;
    }
    .categorybtns:hover{
        background-color: #136290;
        cursor: pointer;
        opacity: .9;
    }

        
}