.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;;
}
.incorrectpasswordwrapper{
    color: red;
    font-size: 1.2em;
}
input{
    width: 10rem;
    height: 3rem;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 2em;
}