.orderpadwrap{
    border: solid black 2px;
    width: 90%;
    min-height: 70vh;
    max-width: 25rem;
    margin: .3rem;
    background-color: lightgray;
}
.orderpad-items-wrap{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.orderpad-ols-wrap{
    display: flex;
}
ol{
    width: 1rem;
}
.priceli::marker{
    color: transparent;
}