.orderpadwrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    border: solid black 2px;
    width: 95%;
    height: 80vh;
    max-width: 25rem;
    margin: .3rem;
    background-color: lightgray;
    align-self: flex-start;
    margin-top: 2rem;
}
.orderpad-items-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99%;
    max-height: 40vh;
    padding-left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
ol{
    width: 30%;
}
li:focus{
    background-color: red;
}
.orderpad-ols-wrap{
    display: flex;
    padding-left: 0;
    width: 100%;
    justify-content: space-around;

}
ol{
    width: 1rem;
}

.priceli{
    display: flex;
    border-bottom: solid 1px;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    width: 99%;
    height: 100%;
    /* margin: 0.5rem 0;
    padding: 1rem 0; */
}
.itemnamewrap{
    display: flex;
    margin: 0;
    font-size: 1.25em;
    align-items: center;
    padding-left: 0.25rem;
}
li::marker{
    color: transparent;
}
li{
    display: flex;
    margin: 0.25rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.customizationslist{
    display: flex;
    font-size: .8em;
    padding-left: 0;
    flex-wrap: wrap;
}
.itemwrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

}
.qtyinput{
    width: 60%;
    max-width: 3rem;
    text-align: center;
}
.lipricewrap{
    font-weight: bold;
    padding-right: 1rem;
    text-align: right;
    margin: 0;
}
.highlightselectedproduct{
    border: dotted red 4px;
    align-self: flex-start;
    width: 99%;
    background: lightcyan;
    padding: 0.5rem 0;
    margin: 0;
}
.subtotalWrap{
    display: flex;
    align-self: flex-end;
    padding-right: 10%;
    margin: 0;
}
h5{
    display: flex;
}
.btnswrap{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-self: center;
    height: 10vh;
    align-items: center;
}
.deletebtn{
    width: 7rem;
    height: 3rem;
    margin: .5rem;
}
.submitbtn{
    width: 13rem;
    height: 3rem;
    margin: .5rem;
}
.cuztomizationlabel{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    height:10vh;
}
.customrequestwrap{
    text-align: left;
    padding: 0.5rem;
    text-indent: 0;
}
.hide{
    display: none;
}
.addinswrap{
    border: solid 2px;
    position: relative;
    top: 18.5%;
}
.customizationinput{
    font-size: 1em;
    width: 40vw;
    max-width: 25rem;
    align-self: center;
    margin: 1rem 0;
}
@media(min-width: 768px){
     .submitbtn:hover {
        background-color: lightgreen;
        cursor: pointer;
        opacity: .9;
        font-size: .9em;
        font-weight: bold;
    }
    .deletebtn:hover{
        background-color: #96031A;
        cursor: pointer;
        opacity: .9;
        font-size: .85em;
        font-weight: bold;
        color: white;
    }
    .priceli:hover, .highlightselectedproduct:hover{
        cursor: pointer;
    }
}
