.orderpadwrap{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: solid black 2px;
    width: 90%;
    min-height: 70vh;
    max-width: 25rem;
    margin: .3rem;
    background-color: lightgray;
    
}
.orderpad-items-wrap{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 30%;
}
ol{
    width: 30%;
}
li{
    margin: 1rem 0;
}
.orderpad-ols-wrap{
    display: flex;
 
}
ol{
    width: 1rem;
}
.priceli::marker{
    color: transparent;
}
.subtotalWrap{
    display: flex;
    align-self: flex-end;
    padding-right: 10%;
}
h5{
    display: flex;
}