.utilitywrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 10vh;
    background-color: #E9EDEB;
    position: relative;
    bottom: 0;
    margin-top: 1vh;
    width: 100%;
    margin: 1.5rem 0;
}
.utilitybtns{
    width: 85%;
    font-size: .75em;
    max-width:9rem;
    background-color: #0B3954;
    color: white;
    height: 10vh;
    border-radius: 0.5rem;
    font-weight: 500;
}
.backarrowsvg{
    display: inline;
    width: 3rem;
    fill: #E9EDEB;
}
html{
    overflow-x: hidden;
}

.btnimgwrap{
    width: 50%;
    height: 100%;
}
.managerloginwrap{
    width:5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media(min-width:768px){
    .utilitybtns{
        margin-left: .75rem;
        font-size: 1em;
    }
    .utilitybtns:hover{
        background-color: #136290;
        cursor: pointer;
        opacity: .9;
        stroke: #96031A;
    }
}