.utilitywrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem;
    height: 10vh;
    background-color: #E9EDEB;
    position: absolute;
    bottom: 1.5rem;
    margin-top: 1vh;
    width: 100%;
}
.utilitybtns{
    width: 100%;
    font-size: 1em;
    margin: 2rem 0;
    max-width: 9rem;
    background-color: #0B3954;
    color: white;
    margin: .5rem;
    height: 10vh;
    border-radius: .5rem;
    font-weight: 500;
}
.backarrowsvg{
    display: inline;
    width: 3rem;
    fill: #E9EDEB;
}
html{
    overflow-x: hidden;
}
@media(min-width:768px){
    .utilitybtns:hover{
        background-color: #136290;
        cursor: pointer;
        opacity: .9;
        stroke: #96031A;
    }
}