.cashoutscreenbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.employeedatasectionwrap{
    width: 80%;
    max-width: 40rem;
    border: solid 1px black;
    padding: 1rem;
    border-radius: 0.5rem;
    align-self: flex-start;
    margin-top:1rem;
    margin-left: 1rem;
}
.employeedata{
    border-bottom: solid 2px;
    margin: .25rem;
    padding-left: .5rem;
}
.cashoutbtn{
    width: 80%;
    max-width: 20rem;
    align-self: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: transparent;
    color: white;
    background-color: #283F53;
    font-weight: 600;
}
@media (min-width: 1024px){
    .cashoutbtn:hover{
        cursor: pointer;
    }
}